.App {
  text-align: center;
}

button {
  cursor:grab;
  width: 50px;
  height: 50px;
  background-color: white;
}

#drums {
  display: grid;
  justify-content: center;
  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 50px 50px 50px;
}

#displayDiv {
  display: grid;
  justify-content: center;
  min-height: 100;
}

